variables:
    TEST_GATEWAY: '{{ TEST_GATEWAY }}'
    TEST_CIDR_EXT: '{{ TEST_CIDR_EXT }}'
    TEST_FIP_RANGE: '{{ TEST_FIP_RANGE }}'
    TEST_NAME_SERVER: '{{ TEST_NAME_SERVER }}'
    TEST_SWIFT_IP: '{{ TEST_SWIFT_IP }}'
    
applications:
  ceph-fs:
    options:
      source: '{{ TEST_CEPH_SOURCE }}'
  ceph-mon:
    options:
      source: '{{ TEST_CEPH_SOURCE }}'
  ceph-osd:
    options:
      source: '{{ TEST_CEPH_SOURCE }}'

